
.main-title {
    text-align: center;
    font-size: 34px;
    margin-top: 20px;
    font-weight: 700;
}

.sub-title {
    text-align: center;
    font-size: 22px;
    margin-top: -10px;
    color: #444;
}

.timestamp-bar {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #333;
}
